PORT=4000
HOST=0.0.0.0
NODE_ENV=development

SUPABASE_URL=https://lercqxmdmgzgvfirmlgk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_vf0BDGHZ6kVPi82elZBxEg_Dn3UI1ZX

CORS_ORIGIN=http://localhost:3000

# UAT Settings (ใช้เมื่อ NODE_ENV=uat)
# UAT_AUTO_CONFIRM_PAYMENT=false
# UAT_FIXED_AMOUNT=1
# UAT_AUTO_CONFIRM_DELAY_MS=10000
